* {
  margin: 0;
  padding: 0;
}
main {
    height: 100%;
    width: 100vw;
}

h1 {
  color: orange;
  text-align: center;
  font-size: 50px;
}

#function-code {
    width: 535px;
    height: 100px;
}

#canvas {
  border: 1px black solid;
  width: 535px; 
  height: 300px;
}